git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.1b25
tgcrypto
ffmpeg-python
wrapt_timeout_decorator
youtube_dl
youtube_search_python
youtube_search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv