git+https://github.com/subinps/pyrogram.git@session
py-tgcalls
parse-torrent-name
tgcrypto
yt-dlp
youtube-search-python
httpx==0.14.2
youtube-search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv
